#feature.showDesktopNameInIconTray: false
#feature.showDesktopNumberInIconTray: true
feature.showDesktopSwitchOverlay: false
feature.showPrevNextIcons: false
#feature.showSplashScreen: true
#feature.useHotKeyToJumpToDesktopNumber: false
#feature.useHotKeyToJumpToPreviousDesktop: false
#feature.useHotKeyToSwitchDesktopBackward: false
#feature.useHotKeyToSwitchDesktopForward: false
#feature.showDesktopNumberInIconTray.clickToOpenTaskView: true
#feature.showDesktopSwitchOverlay.animate: true
#feature.showDesktopSwitchOverlay.duration: 2000
#feature.showDesktopSwitchOverlay.position: "middlecenter"
#feature.showDesktopSwitchOverlay.showOnAllMonitors: true
#feature.showDesktopSwitchOverlay.translucent: true
#feature.showPrevNextIcons.automaticallyHidePrevNextOnBounds: false
#feature.showPrevNextIcons.nextChar: "\u203A"
#feature.showPrevNextIcons.prevChar: "\u2039"
#feature.showSplashScreen.duration: 2000
#feature.showSplashScreen.text: "Virtual Desktop Helper"
#feature.useHotKeyToJumpToDesktopNumber.hotkey: "Alt"
#feature.useHotKeyToJumpToPreviousDesktop.hotkey: "Alt + Tilde"
#feature.useHotKeyToSwitchDesktopBackward.hotkey: "Alt + Left"
#feature.useHotKeyToSwitchDesktopForward.hotkey: "Alt + Right"
#general.startupWithWindows: false
#general.theme: "auto"
#theme.icons.emojiFont: "Segoe UI Symbol"
#theme.icons.font: "Segoe UI"
#theme.icons.symbolsFont: "Segoe UI Symbol"
#theme.icons.disabledOpacity: "0.5"
#theme.icons.iconBG.dark: "black"
#theme.icons.iconBG.light: "white"
#theme.icons.iconFG.dark: "white"
#theme.icons.iconFG.light: "black"
#theme.overlay.font: "Segoe UI Light"
#theme.overlay.fontSize: 30
#theme.overlay.height: 430
#theme.overlay.width: 900
#theme.overlay.overlayBG.dark: "black"
#theme.overlay.overlayBG.light: "black"
#theme.overlay.overlayFG.dark: "white"
#theme.overlay.overlayFG.light: "white"
